/*
    Colour Theme:
        Title Bar -
            Background: #641b22
            Text: white
        Body -
            Background: white
            Text: black
        Input -
            Background: azure
            Text: black
        Button -
            Background: azure
            Text: white
        Grammar Table -
            Background: azure
            Text: black
        Footer -
            Text: gray
*/
body, html{
    font-size: large;
    border-radius: 1em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    white-space: nowrap;
    margin: 0;
    min-width: fit-content;
}

input {
    margin: 0.5em 2em auto auto;
    border-radius: 0.5em;
    background: azure;
    height: 1.8em;
    width: 30vw;
    font-size: 0.7em;
}

td {
    width: fit-content;
    padding: 0 0.5em 0 0.5em;
}

.wrap-whitespace {
    white-space: pre-wrap;
}

.text-right {
    text-align: right;
}

.default-cursor {
    cursor: default;
}

.width100 {
    width: 100%;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.inline {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin5 {
    margin: 0.5em;
}

#footer {
    color: gray;
    margin: 1em;
}

#button {
    background: #10607E;
    color: white;
    padding: 0.2em;
    width: 5em;
    cursor: pointer;
}

#grammar {
    display: inline-block;
    overflow-y: scroll;
    border-style: solid;
    border-width: 0.1em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: azure;
}

#bar-sticky {
    background: #641b22;
    color: white;
    width: 100%;
    min-width: fit-content;
    max-width: 100%;
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    height: 2em;
}

#title {
    position: absolute;
    left: 0;
    bottom: 0.1em;
    font-weight: bold;
    font-size: larger;
}

#subtitle {
    position: absolute;
    right: 0;
    bottom: 0.1em;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.4em;
    height: 0.4em;

}
::-webkit-scrollbar-thumb {
    border-radius: 0.4em;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}