<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Earley Parser</title>

    <!-- scripts -->
    <script src="/static/javascripts/vendor/react.development.js"></script>
    <script src="/static/javascripts/vendor/react-dom.development.js"></script>
    <script src="/static/javascripts/vendor/babel.js"></script>

    <script type="text/babel" src="/static/javascripts/parser.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <!-- styles -->
  </head>
  <body>
    <div id="parser"></div>
    <noscript>You need JavaScript to use this application.</noscript>
  </body>
</html>